---
import Header from '../components/Header.vue'
import '../styles/global.css'
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ポートフォリオ</title>
  </head>
  <body>
    <Header client:only="vue" />

    <div class="site-bg-wrapper">
      <main class="card-list">
        <section id="about" class="card">
          <h2 class="pastelPink">About</h2>
          <p>♡ご依頼について♡<br>
          丁寧な対応を心がけております！<br>
          ご依頼初心者の方でもお気軽にお声掛けください♡</p>
          <ul>
            <li>♡得意分野<br>
              女性らしい身体 / キャラクターデザイン / 厚塗り
            </li>
            <li>♡サンプル公開<br>
              制作物をサンプルとして紹介することがあります。
            </li>
            <li>♡NG内容<br>
              獣人（耳尻尾のみは可）、機械、壮年〜老年の男女、過度なR18表現
            </li>
          </ul>
        </section>

        <section id="price" class="card">
          <h2 class="pastelPink">Price</h2>
          <ul>
            <li>♡立ち絵<br>
              全身 ：10000円〜<br>
              複雑なポーズ指定 : 15000円〜<br>
              SDキャラ ：4000円〜</li>
            <li>♡1枚絵<br>
              1枚絵 : 8500円〜<br>
              複雑なポーズ指定 : 12000円〜<br>
              バストアップ：7000円〜</li>
            <li>♡アイコンイラスト<br>
              正方形 : 4000円</li>
            <li>♡キャラデザインのみ : 4000円</li>
            <li>複数人の場合：人数×料金（簡易は半額）</li>
            <li>オプション<br>
              三面図：8000円<br>
              商用利用：料金の20%～50%<br>
              表情差分：1つ500円（2つ以上から受付）<br>
              ポーズ差分：1000円～基本料金50%<br>
              髪型差分：1500円～<br>
              サンプル掲載なし：4000円<br>
              納期短縮：2000円～<br>
              1週間以内：6000円～<br>
              著作権譲渡：全体の70％
            </li>
          </ul>
        </section>

        <section id="flow" class="card">
          <h2 class="pastelPink">Flow</h2>
          <ol>
            <li>依頼後要望を聞き、見積もり提示</li>
            <li>お支払い</li>
            <li>カラーラフ提出→修正→確認→納品</li>
          </ol>
          <p>
            お支払いが確認でき次第作業に取り掛らせて頂きます。<br>
            小物や複雑なデザイン(フリルや細かいデザイン)には追加料金が発生することがあります。
          </p>
        </section>

        <section id="links" class="card">
          <h2 class="pastelPink">各種リンク</h2>
          <ul>
            <li><a href="https://lit.link/" target="_blank">lit.link</a></li>
            <li><a href="https://twitter.com/" target="_blank">Twitter (X)</a></li>
            <li><a href="https://skeb.jp/" target="_blank">Skeb</a></li>
            <li><a href="https://www.pixiv.net/" target="_blank">pixiv</a></li>
          </ul>
        </section>
      </main>
    </div>
  </body>
</html>